<h1 class='pi-header'><%=@system.name %></h1>
<h3 class='pi-header'><%=@system.distance %> Light Years Away</h3>
<p><%= @system.description%></p>
<ul class='collections'>
  <li>What were you doing <%=@system.distance %> years ago?</li>
  <% @this_location = @system.location %>
  <% if @this_location.collections.empty? %>
      <li>No one has added to this cache, yet!</li>
  <% else %>
      <% @this_location.collections.each do |cache| %>
          <li><%= cache.text %>
            <% if cache.image %>
              <br><%= image_tag cache.image.url(:thumb) %>
            <% end %>
          </li>
      <% end %>
  <% end %>
</ul>
