<!DOCTYPE html>
<html>
<head>
  <title>Station</title>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP3d5y5j3FG1oDkruJkPU91bB_t8b0kj0&sensor=false">
    </script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>


<body>
  <header>
    <div class="hashtag">#ToscheStation</div>
    <% if logged_in? %>
      <div class="sign-in-out"><%= link_to 'Sign Out', signout_path %></div>
    <% else %>
      <div class="sign-in-out">
        <%= link_to '/auth/twitter' do %>
          <%= image_tag 'sign-in-with-twitter-gray.png' %>
        <% end %>
      </div>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
